*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;

  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;

  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), with var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  z-index: 2;
  transition: translate var(--animation-timing);
  translate: 100%;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  background-color: var(--foreground);
  color: var(--background);
  min-width: 140vw;
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: fixed;
  margin-top: 5px;
  margin-left: 15px;
  padding-right: 5px;
  padding-left: 5px;

  .nav-link {
    margin: 1rem;

    a {
      text-decoration: none;
      color: white;
      font-weight: 800;
      display: grid;
      justify-self: center;
    }

    a:hover {
      color: gray;
    }
  }

  .nav-button {
    margin: 1rem;

    button {
      background-color: var(--foreground);
      border: none;
      text-decoration: none;
      color: white;
      font-family: "Poppins", sans-serif;
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;
      margin-top: 1rem;
    }
    button:hover {
      color: gray;
      box-shadow: none;
      transform: translateY(0px);
    }
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  transform: translate(-180%, 0px);
}

html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid #1a1a1a;
    border-radius: 12px;
    box-sizing: border-box;
    color: #3b3b3b;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 50px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
  }

  button:disabled {
    pointer-events: none;
  }

  button:hover {
    color: #fff;
    background-color: #1a1a1a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }

  button:active {
    box-shadow: none;
    transform: translateY(0);
  }

  header {
    justify-self: center;
    max-width: 1280px;
    width: 100%;

    .row {
      display: flex;
      width: 100%;

      .column1 {
        width: 20%;
        display: grid;
        justify-content: start;
        align-self: center;
        padding: 1rem;

        a {
          text-decoration: none;

          img {
            width: 50px;
          }
        }
      }

      .column2 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-self: center;

        a {
          display: none;
          padding: 1rem;
          font-weight: 600;
          color: black;
          text-decoration: none;
          transition: transform 0.15s;
        }
      }

      .column3 {
        width: 20%;
        display: grid;
        justify-content: end;
        align-content: center;
        padding: 1rem;

        .login-logout-button {
          display: none;

          button {
            appearance: none;
            background-color: transparent;
            border: 2px solid #1a1a1a;
            border-radius: 12px;
            box-sizing: border-box;
            color: #3b3b3b;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 600;
            line-height: normal;
            margin: 0;
            min-height: 50px;
            min-width: 0;
            outline: none;
            padding: 16px 24px;
            text-align: center;
            text-decoration: none;
            transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            width: 100%;
            will-change: transform;
          }

          button:disabled {
            pointer-events: none;
          }

          button:hover {
            color: #fff;
            background-color: #1a1a1a;
            box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
            transform: translateY(-2px);
          }

          button:active {
            box-shadow: none;
            transform: translateY(0);
          }
        }
      }
    }
  }

  /* mobile view */
  .home {
    max-width: 832px;
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;

    .list-div {
      background-color: lightslategrey;
      border-radius: 1rem;
      margin-bottom: 1rem;

      ul {
        padding: 2rem;
        background-color: rgba(0, 0, 0, 0.384);
        border-radius: 1rem;
        li {
          padding: 1rem;
          background-color: var(--foreground);
          color: white;
          border-radius: 1rem;
          margin-bottom: 1rem;
        }
      }
      .button-div {
        padding: 1rem;
      }
    }
  }

  .event {
  }

  .habit {
  }

  .task {
    button {
      font-weight: 600;
      height: 50px;
      font-size: 1rem;
      width: 200px;
    }
  }
  /* ---------------- */

  .register {
    width: 100%;

    h2 {
      display: grid;
      justify-self: center;
    }

    form {
      display: grid;
      margin-left: 16px;
      margin-right: 16px;

      label {
        margin-bottom: 8px;
      }

      input {
        margin-bottom: 32px;
        border-radius: 12px;
        height: 32px;
      }

      button {
        margin-top: 32px;
        border-radius: 12px;
        margin-bottom: 32px;
        height: 32px;
      }

      .signin {
        justify-self: center;
        a {
          text-decoration: none;
        }
      }
    }
  }

  .login {
    width: 100%;

    h2 {
      display: grid;
      justify-self: center;
    }

    form {
      display: grid;
      margin-left: 16px;
      margin-right: 16px;

      img {
        justify-self: center;
        max-width: 200px;
        margin-top: 16px;
        margin-bottom: 32px;
      }

      label {
        margin-bottom: 8px;
      }

      input {
        margin-bottom: 32px;
        border-radius: 12px;
        height: 32px;
      }

      button {
        margin-top: 32px;
        margin-bottom: 32px;
        height: 32px;
      }

      .signup {
        justify-self: center;
        a {
          text-decoration: none;
        }
      }
    }
  }

  footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ddd;
    width: 100%;
    margin-top: auto;
  }

  .hidden {
    display: none;
  }

  ul {
    list-style-type: none;
  }

  @media (width > 832px) {
    header {
      .row {
        .column2 {
          a {
            display: initial;
          }
          a:hover {
            color: gray;
          }
        }
        .column3 {
          .login-logout-button {
            display: grid;
          }

          .header-hamburger-menu {
            display: none;
          }
        }
      }
    }

    /* desktop view */
    .home {
    }

    .event {
    }

    .habit {
    }

    .task {
    }
    /* ---------------- */

    .register {
      form {
        width: 800px;
        display: grid;
        justify-self: center;

        label {
          margin-bottom: 8px;
        }

        input {
          margin-bottom: 32px;
          border-radius: 12px;
          height: 32px;
        }

        button {
          margin-top: 32px;
          border-radius: 12px;
          margin-bottom: 32px;
          height: 32px;
        }

        .signup {
          justify-self: center;
          a {
            text-decoration: none;
          }
        }
      }
    }
    .login {
      form {
        width: 800px;
        display: grid;
        justify-self: center;

        label {
          margin-bottom: 8px;
        }

        input {
          margin-bottom: 32px;
          border-radius: 12px;
          height: 32px;
        }

        button {
          margin-top: 32px;
          border-radius: 12px;
          margin-bottom: 32px;
          height: 32px;
        }

        .signup {
          justify-self: center;
          a {
            text-decoration: none;
          }
        }
      }
    }
  }
}
