html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0px 0px 0px 0px;
  width: 100%;
  justify-items: center;

  header {
    justify-self: center;
    max-width: 1280px;
    width: 100%;

    .row {
      display: flex;
      width: 100%;

      .column1 {
        width: 20%;
        display: grid;
        justify-content: start;
        align-self: center;
        padding: 1rem;

        a {
          text-decoration: none;

          img {
            width: 50px;
          }
        }
      }

      .column2 {
        width: 60%;
        display: flex;
        justify-content: center;
        align-self: center;

        a {
          display: none;
          padding: 1rem;
          text-decoration: none;
        }
      }

      .column3 {
        width: 20%;
        display: grid;
        justify-content: end;
        padding: 1rem;

        button {
          justify-self: center;
          margin-top: 32px;
          border-radius: 12px;
          margin-bottom: 32px;
          height: 32px;
        }
      }
    }
  }

  .hidden {
    display: none;
  }

  .button-list {
    justify-self: end;

    button {
      margin-top: 32px;
      border-radius: 12px;
      margin-bottom: 32px;
      height: 32px;
    }
  }

  @media (width > 832px) {
    header {
      .row {
        .column2 {
          a {
            display: initial;
          }
        }
      }
    }
  }
}
